<ion-list color="dark">

  <ion-list>
    <ion-item-sliding *ngFor="let list of desiresService.lists | filtroCompletado:terminada">
      <ion-item detail color="dark" (click)="listaSeleccionada(list)">
        <ion-label>{{list.title}}</ion-label>
        <ion-note slot="end" color="tertiary">{{list.items.length}} items</ion-note>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="borrarLista(list)" color="danger">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option (click)="editarLista(list)" color="tertiary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-list>